body{

  @import url(http://fonts.googleapis.com/css?family=Indie+Flower);

  font-family: Indie Flower, HelveticaNeue, 'Helvetica Neue', Helvetica, 'Lucida Grande', Arial, sans-serif;

  background: url("../assets/bg2.png") 0 bottom repeat-x;

  padding-top:40px;

  width: 1024px;
  margin: 0 auto;

}

html, body {
  height: auto;
  min-height: 100%;
}

h1{
  font-family: Indie Flower, HelveticaNeue, 'Helvetica Neue', Helvetica, 'Lucida Grande', Arial, sans-serif;
  font-weight: bold;
  font-size: 3.2em;
  margin: 0 0 0 -5px;
}
h4{
  font-family: Indie Flower, HelveticaNeue, 'Helvetica Neue', Helvetica, 'Lucida Grande', Arial, sans-serif;
  font-weight: bold;
}

.yellow{
  color: #FEBA00;
}

.footer p{
  color: white;
  font-size: 0.8em;
}

.left-navigation{
  a{
    display: block;
    height: 125px;
    background: url("../assets/honeypot.png") center center no-repeat;
    padding-top: 40px;
    color:#5E3E27;
    font-weight: bold;
  }
}

.block{
  display: block;
}
.top-navigation{
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: #fef39a;
}

.contact-us{
  p{
    font-weight: bold;
    text-decoration: underline;
  }
}